*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{ 
    background-color: Hot pink;
    color: #333;
    text-align:center;
    line-height: 1.7;
}

.section{
    padding:40px 20px;
}

.hero{
    padding:50px 20px;
}

.hero h1{
    font-size: 32px;
}


.grid {
    display: grid;
    gap: 10px;
}

.grid div{
    background-color:#eeb7d8;
    padding: 20px;
    border-radius: 40px;

}
